h1 {
    color: black; 
    font: courier;
    font-size: 550;
    text-align: center;
    background-color: yellow;
}

h2 {
    color: black;
    font: courier;
    font-size: 450;
    text-align: left;
    background-color: yellow;
}

body {
  background-color: white;
}

p {
  font-family: courier;
  font-size: 55px;
  background-color: yellow;
}
