h1 {
    color: black; 
    font-family: courier;
    font-size: 450px;
    text-align: center;
    background-color: yellow;
}

h2 {
    color: black;
    font-family: courier;
    font-size: 250px;
    text-align: left;
    background-color: yellow;
}

body {
  background-color: light-yellow;
}

p {
  font-family: courier;
  font-size: 55px;
  background-color: yellow;
}
